html { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

svg {
    background: black;
    height: 98vh;
    width: 98vw;
}

#console {
    width: 98vw;
    background: #222;
    color: white;
    overflow: scroll;
}


.print, .ask, .image, .error {
    margin: 0 5%;
    padding: 16px 0;
    border-bottom: 1px solid whitesmoke;
}

/** ERROR */
.error .message {
    font-size: 20px;
    color: #ff0033;
    font-weight: bold;
}

.error .help {
    font-size: 14px;
    margin-top: 8px;
}

/** IMAGE */
.image img {
    max-width: 100%;
    max-height: 360px;
}

/** PRINT */

.print .value {
    font-weight: normal;
    font-size: 20px;
}

.print .type {
    font-size: 10px;
}

/** ASK */
.ask input {
    -webkit-appearance: none;
}

.ask .prompt {
    font-weight: normal;
    font-size: 20px;
}

.ask .type {
    font-size: 10px;
}

.ask .value {
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: calc(100% - 80px);
    margin-top: 8px;
}

.ask.submitted {
    color: #999;
}

.ask.submitted .value {
    background: white;
    border-bottom: 1px solid #999;
}

.ask.submitted .submit {
    background: #999;
}

.ask.valid .value {
    border-bottom: 1px solid #99badd;
}

.ask .value:focus {
    outline-width: 0;
}

.ask .submit {
    border-radius: 4px;
    background: #999;
    border: 1px solid #999;
    font-size: 24px;
    color: white;
    padding: 8px;
    float: right;
}

.ask.valid .submit {
    background: #99badd;
}